@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  overflow-x: hidden;
  background: #f0f0f0;
  font-family: 'Montserrat', sans-serif;
}

h6 {
  font-weight: 600;
  color: #6c757d;
  line-height: 10px;
  margin-top: 30px;
}

#editor {
  color: #717171;
}

hr {
  margin-top: 30px;
  width: 120%;
  margin-left: -40px;
}

/* #editor a {
  color: #42B9BA;
} */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 500px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 500px;
  width: 0;
  height: 100%;
  margin-left: -500px;
  overflow-y: auto;
  background: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 100px 0px rgba(52,80,115,0.3);
  overflow-x: hidden;
}

#wrapper.toggled #sidebar-wrapper {
  width: 500px;
}

#page-content-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -500px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 500px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 500px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

#template-content {
  width: calc(100%);
  height: calc(100% - 4px);
  position: absolute;
  margin-left:-250px;
  top: 0;
  float: left;
  z-index: -1;
  transition: all linear 0.2s;
}

#form-editor {
  width: 85%;
  margin: 20px auto;
}

#menu-toggle {
  width: 30px;
  height: 30px;
  transition: all linear 0.2s;
}

.btn.hide {
  margin-top:-400px;
}

#toggle-button {
  font-size: 30px;
  color: #717171;
  position: absolute;
  top: 13px;
  left: 35px;
  transition: all linear 0.2s;
}

#toggle-button:hover {
  transform: scale(1.1);
  color: #182e50;
  transition: all linear 0.2s;
}

#download-button {
  font-size: 30px;
  color: #717171;
  position: absolute;
  top: 110px;
  left: 35px;
  transition: all linear 0.2s;
}

#download-button:hover {
  transform: scale(1.1);
  color: #182e50;
  transition: all linear 0.2s;
}

#clipboard-button {
  font-size: 30px;
  color: #717171;
  position: absolute;
  top: 60px;
  left: 35px;
  transition: all linear 0.2s;
}

#clipboard-button:hover {
  transform: scale(1.1);
  color: #182e50;
  transition: all linear 0.2s;
}

/* Inputs */
.control-group {
  display: inline-block;
  vertical-align: top;
  background: #fff;
  text-align: left;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  padding: 30px;
  width: 200px;
  height: 210px;
  margin: 10px;
}
.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #fff;
  border: 1px solid #ccc;
}
.control--checkbox .control__indicator {
  border-radius: 3px;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input:not([disabled]) ~ .control__indicator,
.control input:focus ~ .control__indicator {
  border-color: #666;
}
.control input:checked ~ .control__indicator {
  background: #fff;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--checkbox .control__indicator:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid #34bb92;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}
.control--radio .control__indicator:after {
  left: 5px;
  top: 5px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #34bb92;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}
input {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #f1f1f1;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  transition: all linear 0.3s;
}
input:hover,
input:focus {
  color: #000;
  background: #ccc;
}
input::placeholder {
  opacity: 0.4;
}
.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}
.select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: #f1f1f1;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  transition: all linear 0.3s;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover,
.select select:focus {
  color: #000;
  background: #ccc;
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select__arrow {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #7b7b7b transparent transparent transparent;
}
.select select:hover ~ .select__arrow,
.select select:focus ~ .select__arrow {
  border-top-color: #000;
}
.select select:disabled ~ .select__arrow {
  border-top-color: #ccc;
}
label {
  font-weight: 600;
  color: #6c757d;
  margin-top: 30px;
}
.switch-label {
  margin-top: 40px;
  margin-bottom: -48px;
  text-indent: 50px;
}

/* https://speckyboy.com/open-source-css-javascript-select-box-snippets/ */ 

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  font-weight: 600;
  color: #6c757d;
  margin-top: 30px;
  text-indent: 50px;
  padding-top: 1px; 
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #42B9BA;
}

input:focus + .slider {
  box-shadow: 0 0 1px #42B9BA;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#button-info {
  margin-top: -20px;
}

#empty {
  opacity: 0.4;
}

.alert {
  font-size: 14px;
  opacity: 0.9;
}